.card {
  &__img {
    margin-bottom: 25px;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 23px;
  }
  &__text {
    margin-bottom: 20px;
    font-size: 18px;
  }
  &__cost {
    font-size: 30px;
  }
  &__button {
    margin-top: 10px;
    background-color: #444b5b;
    border-radius: 10px;
    padding: 15px 20px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
  }
  &__button-clicked {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #444b5b;
    border-radius: 10px;
    padding: 15px 20px;
    color: #000;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
  }
}

.card__button-clicked:hover .card__button-text {
  display: none;
}
.card__button-clicked .card__button-hover {
  display: none;
}
.card__button-clicked:hover .card__button-hover {
  display: inline;
}
