.catalog {
  margin-top: 80px;
  margin-bottom: 80px;
  &__header {
    &-text {
      font-size: 20px;
    }
    &-h2 {
      font-size: 42px;
    }
  }
  &__main {
  }
  &__list {
    font-size: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &-item {
      margin-top: 10px;
      text-decoration: none;
      color: #000;
    }
  }
  &__nav-text {
    text-decoration: none;
    color: #000;
  }
}
