.userPopup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.315);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__wrapper {
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 100px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
  }
  &__input {
    margin-bottom: 15px;
    max-height: 50px;
    height: 50px;
    border-radius: 10px;
    padding-left: 15px;
    width: 400px;
  }
  &__change-form {
    color: rgb(47, 58, 217);
  }
  &__btn {
    margin-top: 5px;
    padding: 15px 35px;
    background-color: #444b5b;
    border-radius: 10px;
    color: #fff;
    margin-left: auto;
    font-size: 17px;
  }
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__title {
    font-size: 25px;
    margin-left: 10px;
  }
  &__exit {
    &-img {
      width: 25px;
      height: 25px;
    }
  }
  &__user{
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    &-exit{
      // margin-left: auto;
    }
    &-info{
      // margin-right: auto;
      &-name{
        font-size: 25px;
        margin-bottom: 15px;
        text-align:left;
      }
      &-email{
        font-size: 25px;
        margin-bottom: 15px;
        text-align:left;
      }
      &-orders{
        font-size: 25px;
        margin-bottom: 15px;
        text-align:left;
      }
      &-exit{
        font-size: 20px;
        text-align:left;
        color: #c02020;
      }
    }
  }
}
