@import './components/footer.scss';
@import './components/header.scss';
@import './components/catalog.scss';
@import './components/card.scss';
@import './components/product-list.scss';
@import './components/user-popup.scss';
@import './screens/cart-screen.scss';
@import './screens/homeScreen.scss';

html {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.screen__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1300px;
  margin: 0 auto;
}
.productScreen__main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
